.box {
    width: 25rem;
    height: 5rem;
    background-color: white;
}

.card {
    width: 25rem;
    height: 10rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #cec9c9;
}

@media (max-width: 992px) {
    .card{
        width: 18rem;
    }
}

@media (max-width: 400px) {
    .card{
        width: 22rem;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
    }
}
@media (max-width: 350px) {
    .card {
        width: 20rem;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.wrapperHome {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #F7FAFB;
}

@media (max-width: 992px) {
    .wrapperHome {
        flex-direction: column;
        height:  100vh;
    }
}